<link rel="stylesheet" href="@Url.Content("~/content/styles/kendo.common.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/content/styles/kendo.default.min.css")" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.mobile.all.min.css" />

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="jquery.sceditor.bbcode.min.js"></script>

    <link rel="stylesheet" href="jquery.sceditor.min.css" type="text/css" media="all" />
    <script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
@model HoneyMustard.Interface.Models.Reminder

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reminder</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          
                @Html.LabelFor(model => model.AlertDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AlertDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AlertDateTime, "", new { @class = "text-danger" })
                </div>
               
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create"class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p><a class="btn btn-danger" href="~/Contact/DisplayReminderList">Back To List of Reminders &raquo;</a></p>

   
</div>
<script>


 

    //$("#Details").jqte();



    $(document).ready(function () {
        $("#From").kendoComboBox({
            placeholder: "From Name",
            serverFiltering: true,
            dataTextField: "FirstMidName",
            dataValueField: "ContactID",
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("ReminderContactList", "Contact")        ",
                        method: "POST"
                    }
                }
            }
        })

        });

        $(document).ready(function () {

            $("#To").kendoComboBox({
                placeholder: "To Name",
                serverFiltering: true,
                dataTextField: "FirstMidName",
                dataValueField: "ContactID",
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("ReminderContactList", "Contact")        ",
                            method: "POST"
                        }
                    }
                }
            })
   
            });



            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                $("#AlertDateTime").kendoDateTimePicker({
                    format: "dd/MM-yyyy hh:mm tt",

                    value: new Date()
                });
            });

          
       
            //<span id="notification"></span>
         //$("#notification").kendoNotification({
        //    allowHideAfter: 1000
        //});

  


            $("#Details").jqte();
        
    

</script>